<!--
  Example playground for guide series learning hot to crate a Block Tool for Editor.js
  https://editorjs.io/creating-a-block-tool
-->
<style>
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 14px;
        line-height: 1.5em;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="object.js"></script>
<link href="object.css" rel="stylesheet"/>

<div id="editorjs" style="max-width: 1000px; margin: 0 auto"></div>

<button id="save-button">Save</button>
<pre id="output"></pre>

<script>
  /**
   * Initialize the Editor
   */
  const editor = new EditorJS({
    autofocus: true,
    tools: {
      image: {
        class: ObjectUrl,
        inlineToolbar: true,
        config: {
          placeholder: 'Paste URL'
        }
      }
    }
  });

  /**
   * Add handler for the Save button
   */
  const saveButton = document.getElementById('save-button');
  const output = document.getElementById('output');

  saveButton.addEventListener('click', () => {
    editor.save().then( savedData => {
      output.innerHTML = JSON.stringify(savedData, null, 4);
    })
  })
</script>
