.object {
    padding: 20px 0;
}

.object input,
.object [contenteditable] {
    width: 100%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    background: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

.object img {
    max-width: 100%;
    margin-bottom: 15px;
}

.object.withBorder img {
    border: 1px solid #e8e8eb;
}

.object.withBackground {
    background: #eff2f5;
    padding: 10px;
}

.object.withBackground img {
    display: block;
    max-width: 60%;
    margin: 0 auto 15px;
}
